<div class="container-fluid login">

  <div class="col-md-6 col-md-offset-3 log-in-form">
    <h1>Please Login</h1>

    <%= form_tag sessions_path do %>
      <div class="field">
        <%= text_field_tag :email, params[:email], placeholder: "Email" %>
      </div>
      <div class="field password-field">
        <%= password_field_tag :password, placeholder: "Password" %>
      </div>
      <br>
      <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>
  </div>
</div>
