<h1>Entries#edit</h1>
<p>Find me in app/views/entries/edit.html.erb</p>

<%= render 'form' %>

<%= link_to 'Delete Entry', "/entries/#{@user.entry.id}", method: :delete, data: {confirm: 'Are you sure?'} %>
