<h1>All Entries</h1>

<% @entries.each do |entry| %>

  <div><%= entry.name %></div>
    <% if entry.filter %>
      <%= link_to image_tag(entry.filter), entry_path(entry) %>
    <% else %>
      <%= link_to image_tag(entry.avatar_url), entry_path(entry) %>
    <% end %>

<% end %>
