<h1>Entries#index</h1>
<p>Find me in app/views/entries/index.html.erb</p>

<% @entries.each do |entry| %>
  <ul>
    <li><%= entry.name %></li>
    <li><%= entry.story %></li>
    <li><%= image_tag entry.avatar_url %></li>
    <li><%= entry.user_id %></li>
  </ul>
<% end %>
