<div class="entry-instructions">

  <div class="container entry-top">
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <img id="suyc-entry" src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1483451983/RTO12Logo_Angled-01_a4euwt.svg">
      </div>
      <div class="col-md-6">
        <h1 class="vertical-text">Enter to win [prize]!</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid entry-step">
    <div class="row">

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 entry-icons">
            <i class="fa fa-camera-retro" aria-hidden="true"></i>
            <i class="fa fa-paperclip" aria-hidden="true"></i>
          </div>
        </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h3>1. Choose a photo of your favourite Muskoka memory</h3>
            </div>
          </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 entry-icons">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <i class="fa fa-smile-o" aria-hidden="true"></i>
          </div>
        </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h3>2. Tell us the story behind the photo.</h3>
            </div>
          </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 entry-icons">
            <i class="fa fa-upload" aria-hidden="true"></i>
            <i class="fa fa-clone" aria-hidden="true"></i>
          </div>
        </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h3>3. Submit your entry and add a filter</h3>
            </div>
          </div>
      </div>

    </div>
  </div>



</div>


<div class="container-fluid already-submitted">
  <div class="row already-submit-row">
    <div class="col-md-11 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <% if @user.entry %>
        <h1> You have already submitted an entry for this contest.<br>
        <div class="submit-button button-main">
           <%= link_to 'VIEW MY ENTRY', @user %>
        </div>
      <% else %>

      <%= render 'form' %>

      <% end %>
    </div>
  </div>
</div>
