<div class="container-fluid already-submitted">
  <div class="row already-submit-row">
    <div class="col-md-11 col-md-offset-1">
      <% if @user.entry %>
        <h1> You have already submitted an entry for this contest.<br>
        <div class="submit-button">
           <%= link_to 'VIEW MY ENTRY', @user %>
        </div>   
      <% else %>

      <%= render 'form' %>

      <% end %>
    </div>
  </div>
</div>
