
<% if current_user %>

<div class="container">

  <h1> Welcome back, <%= current_user.name %> ! </h1>

</div>

<% else %>


  <section class="top-section">
  </section>

  <%= render 'form' %>


<% end %>
