
<div class="container-fluid error-container">
  <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 account-row">
    <h1>Create an Account</h1>

    <%= render 'form' %>
  </div>
</div>
