$font-regular: 'Work Sans', sans-serif;
$primary1: #4a5159;
$primary2: #d24545;
$primary3: #c5c2c5;
$primary4: #008cb2;
$secondary1: #574942;
$secondary2: #3f9989;
$secondary3: #396370;
$secondary4: #e5e3e3;


.about-main {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407521/Footer_Background_amx84q.jpg");
  h1, h3, p {
    color: white;
    font-family: $font-regular;
  }
  h1 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 50px;
  }
}

.text-column {
  margin-top: 50px;
}

.wood-column {
  padding: 15px 30px !important;
  // background: white;
  border-radius: 10px;
  h3, h1 {
    color: white;
  }
}

.centered-polaroid {
  text-align: center;
}

.about-section-one {
  padding: 100px;
  h1 {
    color: $secondary4;
  }
}

.polaroid {
  max-width: 450px;
  margin: 50px 0;
}

.intro-wrapper {
  margin: 30px 0;
}

.about-intro {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483464779/qonxfggeudzrt57xbl2u.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  background-attachment: fixed;
  h1 {
    margin-top: 0;
    text-transform: uppercase;
    color: white;
  }
  &:before {
    background-color: rgba(35, 35, 39, 0.5);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 197%;
  }
}

 .about-paddle, .about-golf {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:before {
      background-color: rgba(0, 0, 0, 0.29);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
  }
}

.about-paddle {
  .text-column {
    margin-top: 20px;
  }
}


.about-spa, .about-stay, .about-beer {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485119460/Section2_Background_02_ts44ed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:before {
      background-color: rgba(0, 0, 0, 0.29);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
  }
}

// .about-stay {
//     border-top: 21px solid rgba(47, 47, 46, 0.1);
// }

.intro-text-wrapper {
  margin-top: 150px;
}

.intro-container {
  // background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407526/Entries_Board_nq7d9b.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
  text-align: center;
}

@media (min-width: 991px) {
  .about-paddle {
    .text-column {
      margin-top: 70px;
    }
  }

}

@media (max-width: 990px) {
  .text-column {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .polaroid {
    max-width: 350px;
  }
}

@media (max-width: 767px) {
  .text-column {
    margin: 0;
  }
}

@media (max-width: 550px) {
  .intro-container {
    margin-bottom: 150px;
  }
}
