$font-regular: 'Work Sans', sans-serif;
$primary1: #4a5159;
$primary2: #d24545;
$primary3: #c5c2c5;
$primary4: #008cb2;
$secondary1: #574942;
$secondary2: #3f9989;
$secondary3: #396370;
$secondary4: #e5e3e3;


.about-main {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407521/Footer_Background_amx84q.jpg");
  h1, h3, p {
    color: white;
    font-family: $font-regular;
  }
}

.about-section-one {
  padding: 100px;
  h1 {
    color: $secondary4;
  }
}

.polaroid {
  max-width: 450px;
}

.intro-wrapper {
  margin: 30px 0;
}

.about-hero {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483464779/qonxfggeudzrt57xbl2u.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-intro, .about-paddle, .about-golf {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
