$font-regular: 'Work Sans', sans-serif;
$primary1: #4a5159;
$primary2: #d24545;
$primary3: #c5c2c5;
$primary4: #008cb2;
$secondary1: #574942;
$secondary2: #3f9989;
$secondary3: #396370;
$secondary4: #e5e3e3;
$darkgrey: #2c2d2d;


.entry-top {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485121981/canoe-stock_okhlbf.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.entry-row {
  padding-top: 150px;
}

.photo-column {
  text-align: center;
}

.entry-instructions {

  h2 {
    color: black;
    font-family: $font-regular;
    font-weight: 700;
    text-align: center;
  }
  h1 {
    font-family: $font-regular;
  }
  // h2 {
  //   color: white;
  //   font-family: $font-regular;
  //   font-weight: 300;
  //   text-align: right;
  // }
}

#suyc-entry {
  max-width: 400px;
}

#title_text {
  border-radius: 5px;
  border: 5px solid rgba(210, 69, 69, 0.13);
}

#new_entry {
  color: $darkgrey;
}

.counter {
  margin: 10px 0 20px;
  color: white;
}

.step {
  text-align: center;
  h3 {
    font-family: $font-regular;
    font-weight: 300;
  }
}

.step-row {
  margin-top: 50px;
}


.entry-top {
  padding-bottom: 80px;
  padding-top: 40px;
  overflow: hidden;
  position: relative;
  height: 600px;

  &:before {
    background-color: rgba(0, 0, 0, 0.29);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.entry-photo-step {
  background: $darkgrey;
  padding: 40px;
}

.fa-camera-retro, .fa-upload, .fa-pencil-square-o, .fa-clone, .fa-paperclip, .fa-smile-o {
  font-size: 6rem !important;
}

.entry-step {
  padding: 100px 0;
  background: rgba(229, 227, 227, 0.75);
}

.entry-icons {
  text-align: center;
  i {
  color: $primary2 !important;
  }
}

#img_prev {
  margin-bottom: 20px;
}

#story-box {
  border-radius: 5px;
  border: 5px solid rgba(210, 69, 69, 0.13);
  width: 100%;
}

textarea {
  font-size: 2rem !important;
  padding: 15px;
}

.vertical-text {
  margin-top:40px;
  font-size:5rem;
  font-family: $font-regular;
  font-weight: 700;
  text-align: center;
}

.submit-right {
  margin-top: 20px !important;
}

.carrierwave-wave-field input {
  opacity: 0;
  position: relative;
  top: -60px;

  &:hover {
    cursor: pointer;
  }
}

.carrierwave-wave-field h1 {
  margin-top: 0;
}

.white-text {
  color: white;
  font-family: $font-regular;
}

.black-text {
  color:black !important;
  font-family: $font-regular;
}

#camera-upload {
  margin-top: 50px;
  font-size: 120px !important;
  color: white;
}

#avatar-upload {
  height: 400px;
  position: absolute;
}

.fake-button {
  text-align: center;
  // color: black;
}

.edit-photo img {
  max-width: 400px;
}

.edit-photo {
  padding-top: 100px;
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
  padding-bottom: 100px;
  padding-left: 50px !important;
}

.delete-entry {
  text-align: right;
}

.delete-entry-container {
  margin-top: 40px;
  text-align: right;
}

.headline {
  margin-top: 500px;
  color: $secondary4;
  font-family: $font-regular;
  font-weight: 400;
  text-align: center;
}

.edit-button {
  padding: 2px 6px 3px;
}

@media (max-width: 767px) {
  .edit-photo {
    padding-top:50px;
  }
  .entry-row {
    padding-top: 50px;
  }
  .entry-top {
    h2 {
    color: white;
    }
  }
  .vertical-text {
    margin-top: 30px !important;
  }
}
