// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-regular: 'Work Sans', sans-serif;
$font-this-is: 'Passion One', cursive;
$primary1: #4a5159;
$primary2: #d24545;
$primary3: #c5c2c5;
$primary4: #008cb2;
$secondary1: #574942;
$secondary2: #3f9989;
$secondary3: #396370;
$secondary4: #e5e3e3;
// Entries index

.all-entries {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
}

.already-submitted {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
  h1 {
    color: $secondary4;
  }
}

.already-submit-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.row-wrapper {
  margin-top: 80px;
}

.entry-top-text {
  color: $secondary4;
  font-family: $font-regular;
  margin-top: 80px;
  h1 {
    font-weight: 700;
    font-size: 5rem;
  }
}

.submit-button, #hero-button {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  // padding: 10px 15px;
  font-size: 2rem;
  a {
    color: $secondary4;
    font-family: $font-regular;
  }
}

.all-images img {
  max-width: 500px;
  // min-height: 100%;
  object-fit: cover;
  position: absolute;
  margin: auto;
}

.all-images {
  width: 200px;
  height: 300px !important;
  overflow: hidden;
  position: relative;
  padding: 0 !important;
  &:hover {
    .hover-content-smaller, .hover-content-smaller-top {
      display: block;
    }
    cursor:pointer;
  }
}


.all-images:before {
  background-color: rgba(0, 0, 0, 0.0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: 1;
}

.all-images:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
  transition-property: background-color;
  transition-duration: .3s;
}


.hover-content-smaller {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
  z-index: 2;
}

.hover-content-smaller-top {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
  z-index: 2;
}

.hover-user.smaller {
  font-size: 3rem;
  top:0;
  left:0
}

.hover-title.smaller {
  margin: 10px;
}


// Entry Show


.email-well {
  width: 100%;
  margin-bottom: 0 !important;
  height: 40px;
}

.entry-show-main {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-size: 100%;

  &:before {
    background-color: rgba(0, 0, 0, 0.35);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
  }
}

.this-is img {
  max-width: 250px;
  margin-left: 20px;
}

.this-is-row {
  padding-top: 180px;
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
}

.this-is-text h1 {
  font-size: 6.7vw;
  font-family: $font-this-is;
  color: $secondary4;
  text-transform: uppercase;
}

.left-bracket {
  position: absolute;
  top: -38px;
  left: -66px;
  width: 100px;
}

.right-bracket {
  position: absolute;
  bottom: -35px;
  right: 8px;
  width: 100px;
}

.maple-leaf {
  // padding: 0 !important;
}

.entry-image-focus img {
  max-width: 100%;
  border: 5px solid white;
  border-radius: 5px;
}

.entry-show-bottom {
  margin-top:50px;
}

.entry-show-main-bottom {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
  background-size: cover;
  background-repeat: none;
  padding-bottom:50px;
}

#vote-for {
  background-color: $secondary1;
  border: none;
  color: $secondary4;
  text-transform: uppercase;
  padding: 10px 15px;
  font-family: $font-regular;
  font-size: 1.8rem;
  &:hover {
    background: $secondary4;
    color: $primary1;
    text-decoration: none;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }
}

.vote-count {
  font-family: $font-regular;
}

.entry-story {
  background-color: $secondary4;
  padding: 20px;
  margin-left: 2% !important;
  font-family: $font-regular;
  h1 {
    margin-top:0;
  }
}

.action-left {
  text-align: left !important;
}

@media (max-width:1100px) {
  .entry-show-main {
    height: 500px;
    &:before {
      height: 500px;
    }
  }
}

@media (max-width: 767px) {
  .this-is-text h1 {
    font-size: 9.7vw;
  }
  .entry-show-main {
    height: 400px;
    &:before {
      height: 400px;
    }
  }
  .this-is-row {
    padding-top: 145px;
  }
  .entry-story {
    margin-top: 30px;
    margin-right: 20px;
  }
}

@media (max-width: 700px) {
  .entry-show-main {
    background-size: 200%;
  }
  .right-bracket {
    bottom: -53px;
  }
}

@media (max-width: 573px) {
  .this-is {
    padding: 5px !important;
  }
  .right-bracket {
    margin-top: 140px;
  }
  .this-is-text {
    h1 {
      font-size:5.5rem;
    }
  }
}

@media (max-width: 525px) {
  .this-is-text {
    h1 {
      font-size:4.8rem;
    }
  }
}

@media (max-width: 471px) {
  .this-is-text {
    h1 {
      font-size:3.8rem;
    }
  }
  .right-bracket {
    bottom: -61px;
    right: -26px;
  }
}
