// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-regular: 'Work Sans', sans-serif;
$font-this-is: 'Passion One', cursive;
$primary1: #4a5159;
$primary2: #d24545;
$primary3: #c5c2c5;
$primary4: #008cb2;
$secondary1: #574942;
$secondary2: #3f9989;
$secondary3: #396370;
$secondary4: #e5e3e3;
// Entries index

.all-entries {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
}

.already-submitted {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
  h1 {
    color: $primary3;
  }
}

.already-submit-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.row-wrapper {
  margin-top: 80px;
}

.entry-top-text {
  color: $secondary4;
  font-family: $font-regular;
  margin-top: 80px;
  h1 {
    font-weight: 700;
    font-size: 5rem;
  }
}

.submit-button, #hero-button {
  margin-top: 10px;
  background: $secondary1;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  font-size: 2rem;
  a {
    color: $secondary4;
    font-family: $font-regular;
  }
}

.all-images img {
  max-width: 500px;
  // min-height: 100%;
  object-fit: cover;
  position: absolute;
  margin: auto;
}

.all-images {
  width: 200px;
  height: 300px !important;
  overflow: hidden;
  position: relative;
  padding: 0 !important;
  &:hover {
    .hover-content-smaller, .hover-content-smaller-top {
      display: block;
    }
    cursor:pointer;
  }
}


.all-images:before {
  background-color: rgba(0, 0, 0, 0.0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: 1;
}

.all-images:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
  transition-property: background-color;
  transition-duration: .3s;
}


.hover-content-smaller {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
  z-index: 2;
}

.hover-content-smaller-top {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
  z-index: 2;
}

.hover-user.smaller {
  font-size: 3rem;
  top:0;
  left:0
}

.hover-title.smaller {
  margin: 10px;
}


// Entry Show

.entry-show-main {
  height: 600px;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  &:before {
    background-color: rgba(0, 0, 0, 0.35);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
  }
}

.this-is img {
  max-width: 300px;
}

.this-is-row {
  margin-top: 180px;
}

.this-is-text h1 {
  font-size: 9rem;
  font-family: $font-this-is;
  color: $secondary4;
  text-transform: uppercase;
}

.left-bracket {
  margin-top: -60px;
}

.right-bracket {
  margin-top: 180px;
}

.maple-leaf {
  // padding: 0 !important;
}

.entry-image-focus img {
  max-width: 100%;
  border: 5px solid $secondary4;
  border-radius: 5px;
}

.entry-show-bottom {
  margin-top:50px;
}

.entry-show-main-bottom {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
  background-size: cover;
  background-repeat: none;
  padding-bottom:50px;
}

#vote-for {
  background-color: $secondary1;
  border: none;
  color: $secondary4;
  text-transform: uppercase;
  padding: 10px 15px;
  font-family: $font-regular;
  font-size: 1.8rem;
}

.vote-count {
  font-family: $font-regular;
}

.entry-story {
  background-color: $secondary4;
  padding: 20px;
  margin-left: 2% !important;
  font-family: $font-regular;
}

.action-left {
  text-align: left !important;
}
