// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-regular: 'Work Sans', sans-serif;
$primary1: #4a5159;
$primary2: #d24545;
$primary3: #c5c2c5;
$primary4: #008cb2;
$secondary1: #574942;
$secondary2: #3f9989;
$secondary3: #396370;
$secondary4: #e5e3e3;

.top-section {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407510/MainSection_Background_kiehbd.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

#hero-button {
  // border: none;
  // color: $secondary4;
  // text-align: center;
  // max-width: 600px;
  position: absolute;
  margin-top: 543px;
  background: #949494 !important;
  color: $secondary4;
  border: 3px solid #e5e3e3;
  min-width: 160px;


  &:hover {
    background: $secondary4 !important;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color.2s ease-in-out;
    transition: color .2s ease-in-out;
    color: $primary1;
  }
}

.hero-images {
  overflow: hidden;
}

.logo {
  img {
    max-width: 600px;
    position: absolute;
    top: 150px;
  }
}

.brackets {
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    max-width: 900px;
  }
}

.bracket-text {
  position: absolute;
  top: 15%;
  left: 16%;
  width: 55%;
  h1 {
    color: white;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    font-family: $font-regular;
    font-weight: 700;
    margin-bottom: 30px;
  }
  h3 {
    color: white;
    font-family: $font-regular;
  }
}

.your-adventure {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407521/Section2_Background_ct7a77.jpg");
  height: 600px;
  background-size: cover;
}

.enter-to-win {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
  h1 {
    font-family: $font-regular;
    font-weight: 700;
    font-size: 5rem;
    margin-top: 0;
    padding: 90px 0px 0px;
    text-align: center;
    color: white;
    letter-spacing: 0.3rem;
  }
  .below {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
    color: $secondary4;
  }
}

.rules {
  list-style-type: none;
  padding-top: 150px;
  font-size: 2rem;
  font-family: $font-regular;
  color: $secondary4;
}

.fa-check-square {
  color: $secondary4;
  margin: 0;
  font-size: 4rem !important;
}

.rules-text {
  line-height: 50px;
}

.signup-form {
  display: block;
  margin: auto;
  width: 85%;
  padding-bottom: 90px;
}

.field input {
  width: 100%;
  height: 4rem;
  font-family: $font-regular;
  padding-left: 10px;
  font-size: 2rem;
}

.instructions {
  line-height: 1;
}

.actions {
  margin: auto;
  display: block;
  text-align: center;

  input {
    border: 3px solid $secondary4;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: $secondary4;
    padding: 6px 16px;
    text-transform: uppercase;
    font-family: $font-regular;
    font-size: 2rem;

    &:hover {
      background: $secondary4;
      color: $primary1;
      transition: background 0.3s ease;
    }
  }
}


.choose-canada {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.board-text {
  position: absolute;
  margin-top: 200px;
  h1 {
    text-align: center;
    color: $primary2;
    font-family: $font-regular;
    font-weight: 700;
    font-size: 6rem;
  }
  h2 {
    text-align: center;
    color: $secondary4;
    font-family: $font-regular;
    font-weight: 700;
    font-size: 5rem;
  }
}

.green-board {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407526/Entries_Board_nq7d9b.png");
  margin: 2%;
  height: 600px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}

.entries-last-six img {
  width: 100%;
}

.image-block {
  width: auto;
  // height: 400px !important;
  overflow: hidden;
  position: relative;
  padding: 0 !important;
  &:hover {
    .hover-content-top {
      display: block;
    }
    .hover-content-bottom {
      display: block;
    }
  }
}

.image-block:before {
  background-color: rgba(0, 0, 0, 0.0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hover-content-top {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
}

.hover-content-bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
}

.hover-user {
  font-size: 4rem;
  font-family: $font-regular;
  text-transform: uppercase;
  margin: 0 10px;
}


.hover-title h3 {
  margin: 0 10px;
  font-weight: 700;
}

.hover-share {
  margin: 10px;
}

.hover-more {
  padding-bottom: 40px;
  display: inline-block;
  a {
    color: white;
  }
  &:hover {
    a {
      color: $primary2;
      text-decoration: none;
    }
  }
}

.hover-content-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.image-block:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
  transition-property: background-color;
  transition-duration: .5s;
}


.more-posts {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
}

.more-posts-button {
  text-align: center;
  padding: 70px;
  a {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 3px solid $secondary4;
    color: $secondary4;
    text-transform: uppercase;
    padding: 15px 20px;
    font-family: $font-regular;
    font-size: 2rem;

    &:hover {
      background: $secondary4;
      text-decoration: none;
      color: $primary1;
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      -o-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
    }
  }
}



.tourism-bottom {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407521/Footer_Background_amx84q.jpg");
  height: 500px;
    h1 {
      margin-top: 0;
      padding: 80px 0 40px;
      color: $secondary4;
      font-family: $font-regular;
      text-align: center;
      font-size: 4rem;
      letter-spacing: 0.3rem;
    }
    h4 {
      color: $secondary4;
      letter-spacing: 0.15rem;
      font-weight: 300;
    }
    h3 {
      color: $secondary4;
      border: 2px solid $secondary4;
      padding: 5px 10px;
      text-align: center;
      letter-spacing: 0.2rem;
    }
}

//media quieries for home page

@media (max-width: 2000px) {
  .green-board {
    background-size: 60%;
  }
}

@media (max-width: 1800px) {
  .bracket-text {
    width: 63%;
  }
}

@media (max-width: 1600px) {
  .green-board {
    height: 500px;
  }
  .board-text {
    margin-top: 150px;
  }
}

@media (max-width: 1500px) {
  .bracket-text {
    width: 77%;
    margin-left: 20px;
  }
}

@media (max-width: 1400px) {
  .board-text {
   h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
 }
}

@media (max-width: 1200px) {
  .board-text {
    margin-top: 110px;
  }
  .green-board {
    height: 400px;
  }
  .board-text h2 {
    font-size: 3.5rem;
  }
  .bracket-text {
    margin-left: 35px;
  }
}

@media (max-width: 1070px) {
  .bracket-text {
    width: 80%;
    h1 {
      margin-bottom: 0;
    }
    h3 {
      margin-top:0;
    }
  }
}

@media (max-width: 990px) {
  .board-text {
    margin-top: 0px;
    padding-top: 120px;
  }
  .green-board {
    margin: 0;
  }
  .bracket-text {
    margin-left: 45px;
  }
  .enter-now-container {
    padding-left: 50px !important;
  }
}
