// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-regular: 'Work Sans', sans-serif;
$primary1: #4a5159;
$primary2: #d24545;
$primary3: #c5c2c5;
$primary4: #008cb2;
$secondary1: #574942;
$secondary2: #3f9989;
$secondary3: #396370;
$secondary4: #e5e3e3;

.top-section {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407510/MainSection_Background_kiehbd.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

#hero-button {
  // border: none;
  // color: $secondary4;
  // text-align: center;
  // max-width: 600px;
  // position: absolute;
  margin-top: 543px;
  background: #949494 !important;
  color: $secondary4;
  border: 3px solid #e5e3e3;
  min-width: 160px;


  &:hover {
    background: $secondary4 !important;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color.2s ease-in-out;
    transition: color .2s ease-in-out;
    color: $primary1;
  }
}

.enter-now-container {
  text-align: center;
}

.hero-images {
  overflow: hidden;
}

.logo {
  img {
    max-width: 600px;
    position: absolute;
    top: 150px;
  }
}

.brackets {
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    max-width: 900px;
  }
}

.bracket-text {
  position: absolute;
  top: 15%;
  left: 16%;
  width: 55%;
  h1 {
    color: white;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    font-family: $font-regular;
    font-weight: 700;
    margin-bottom: 30px;
    margin: 0;
  }
  h3 {
    color: white;
    font-family: $font-regular;
  }
}

.your-adventure {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485119460/Section2_Background_02_ts44ed.jpg");
  height: 600px;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.your-adventure:before {
  background-color: rgba(0, 0, 0, 0.29);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.how-to-win {
  background: #a9a9a9;;
  color: white;
  font-family: $font-regular;
  .wrapper {
    margin: 100px 0;
  }
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4.5rem;
  }
  p {
    font-size: 17px;
  }
  hr {
    border-top: 2px solid rgba(238, 238, 238, 0.29);
  }
  // .prize {
  //   color: $primary1;
  // }
}

.polaroid-home {
  max-width: 350px;
  padding-bottom: 30px;
}

.entry-instructions {
  color: white;
  h1 {
    margin-top: 0;
  }
}


.enter-to-win {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
  h1 {
    font-family: $font-regular;
    font-weight: 700;
    font-size: 5rem;
    margin-top: 0;
    padding: 90px 0px 0px;
    text-align: center;
    color: white;
    letter-spacing: 0.3rem;
  }
  .below {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
    color: $secondary4;
  }
}

.rules {
  list-style-type: none;
  padding-top: 150px;
  font-size: 2rem;
  font-family: $font-regular;
  color: $secondary4;
}

.fa-check-square {
  color: $secondary4;
  margin: 0;
  font-size: 4rem !important;
}

.rules-text {
  line-height: 50px;
}

.signup-form {
  display: block;
  margin: auto;
  width: 85%;
  padding-bottom: 90px;
}

.field input {
  width: 100%;
  height: 4rem;
  font-family: $font-regular;
  padding-left: 10px;
  font-size: 2rem;
}

.instructions {
  line-height: 1;
}

.instructions-small {
  line-height: 1;
  margin-top: 10px;
}

.actions {
  margin: auto;
  display: block;
  text-align: center;

  input {
    border: 3px solid $secondary4;
    background: #949494;
    border-radius: 5px;
    color: $secondary4;
    padding: 6px 16px;
    text-transform: uppercase;
    font-family: $font-regular;
    font-size: 2rem;

    &:hover {
      background: $secondary4;
      color: $primary1;
      transition: background 0.3s ease;
    }
  }
}


.choose-canada {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.board-text {
  position: absolute;
  margin-top: 200px;
  text-align: center;
  h1 {
    text-align: center;
    color: $primary2;
    font-family: $font-regular;
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
    color: $secondary4;
    font-family: $font-regular;
    font-weight: 700;
    font-size: 5rem;
  }
}

.green-board {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407526/Entries_Board_nq7d9b.png");
  margin: 2%;
  height: 600px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}

.entries-last-six img {
  max-width: 100%;
}

.image-block {
  width: auto;
  // height: 400px !important;
  overflow: hidden;
  position: relative;
  padding: 0 !important;
  &:hover {
    cursor: pointer;
    .hover-content-top {
      display: block;
    }
    .hover-content-bottom {
      display: block;
    }
    .hover-content-bottom-right {
      display: block;
    }
  }
}

.image-block:before {
  background-color: rgba(0, 0, 0, 0.0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hover-content-top {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
}

.hover-content-bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
}

.hover-content-bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: none;
  color: white;
  font-family: $font-regular;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.5rem;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
  &:hover {
    background: white;
    transition-property: background, color;
    transition-duration: .5s;
    a {
      color: $primary1;
    }
  }
}

.hover-user {
  font-size: 4rem;
  font-family: $font-regular;
  text-transform: uppercase;
  margin: 0 10px;
}


.hover-title h3 {
  margin: 0 10px;
  font-weight: 700;
}

.hover-share {
  margin: 10px;
}

.hover-more {
  padding-bottom: 40px;
  display: inline-block;
  a {
    color: white;
  }
  &:hover {
    a {
      color: $primary2;
      text-decoration: none;
    }
  }
}

.hover-content-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}



.image-block:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
  transition-property: background-color;
  transition-duration: .5s;
}


.more-posts {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}



.tourism-bottom {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407521/Footer_Background_amx84q.jpg");
  height: 550px;
    h1 {
      margin-top: 0;
      padding: 80px 0 40px;
      color: $secondary4;
      font-family: $font-regular;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
      // letter-spacing: 0.3rem;
    }
    h3 {
      color: $secondary4;
      // letter-spacing: 0.15rem;
      font-weight: 300;
    }
    .button-container {
      text-align: center;
    }
}

//media quieries for home page

@media (min-width: 2250px) {
  .bracket-text {
    width: 45%;
    left: 9%
  }
}

@media (min-width: 2000px) and (max-width: 2249px) {
  .bracket-text {
    width: 56%;
    margin-top: 20px;
    left: 12%;
  }
}

@media (min-width: 2001px) {
  .green-board {
    height: 700px;
    background-size: 54%;
  }
  .board-text {
    h2 {
      font-size: 7rem;
    }
    h1 {
      font-size: 9rem;
    }
  }
  .all-images a img {
    max-width: 800px;
  }
  .button-main {
    font-size: 3rem;
  }
}

@media (max-width: 2000px) {
  .green-board {
    background-size: 60%;
  }
}

@media (max-width: 1800px) {
  .bracket-text {
    width: 63%;
  }
}

@media (max-width: 1600px) {
  .green-board {
    height: 500px;
  }
  .board-text {
    margin-top: 150px;
  }
}

@media (max-width: 1500px) {
  .bracket-text {
    width: 77%;
    margin-left: 20px;
  }
}

@media (max-width: 1400px) {
  .board-text {
   h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
 }
}

@media (min-width: 1300px) {
  .bracket-text {
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .board-text {
    margin-top: 110px;
  }
  .green-board {
    height: 400px;
  }
  .board-text {
    h2 {
    font-size: 3.5rem;
    }
    h1 {
      margin-bottom: 10px;
    }
  }
  .bracket-text {
    margin-left: 35px;
  }

}

@media (max-width: 1070px) {
  .bracket-text {
    width: 80%;
    h1 {
      margin-bottom: 0;
    }
    h3 {
      margin-top:0;
    }
  }
}

@media (max-width: 990px) {
  .board-text {
    margin-top: 0px;
    padding-top: 120px;
  }
  .green-board {
    margin: 0;
    background-size: 72%;
  }
  .bracket-text {
    margin-left: 45px;
  }
  // .enter-now-container {
  //   padding-left: 50px !important;
  // }
}

@media (max-width: 855px) {
  .bracket-text {
    width: 90%;
  }
  .brackets img {
    width:150%;
  }
  .bracket-text h3 {
    font-size: 2.6vw;
  }
  .bracket-text h1 {
    font-size: 5vw;
  }
  .your-adventure {
    height: 520px;
  }
}

@media (max-width: 767px) {
  .your-adventure {
    height: 480px;
  }
  .bracket-text {
    width: 80%;
  }
  .rules {
    padding-top: 60px;
    p {
      font-size: 17px;
    }
  }
  .enter-to-win .below {
      font-size: 17px;
  }
  .green-board {
    background-size: 85%;
  }
  #enter-now {
    padding-top:50px;
  }
}

@media (max-width: 660px) {
  .top-section {
    height: 560px;
  }
  .logo img {
    top: 100px;
  }
  #hero-button {
    margin-top: 440px;
  }
  .your-adventure {
    height: 442px;
  }
  .brackets {
    margin-top: 30px;
  }
  .green-board {
    background-size: 100%;
  }
}

@media (max-width: 600px) {
  .your-adventure {
    height: 410px;
  }
}


@media (max-width: 550px) {
  .top-section {
    height: 500px;
  }
  #hero-button {
    margin-top: 375px;
  }
  .bracket-text h1 {
    margin-top: 10px;

  }
  .bracket-text {
    width: 92%;
  }
  .brackets {
    margin-top:45px;
  }
  .brackets img {
    display: none;
  }
  .bracket-text {
    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 18px;
    }
  }
  .board-text {
    h2 {
      font-size: 5.5vw;
    }
    h1 {
      font-size: 7vw;
    }
  }
  .enter-to-win h1 {
    font-size: 8vw;
  }
  .tourism-bottom {
    height: 740px;
  }
}

@media (max-width: 510px) {
  .your-adventure {
    height: 480px;
  }
}

@media (max-width: 450px) {
  .green-board {
    height: 300px;
  }
  .brackets {
    padding: 0 !important;
  }
  .board-text {
    padding-top: 80px;
    h1 {
      margin: 0;
      margin-bottom: 20px;
    }
  }
  .bracket-text {
    width: 100%;
    margin: 0 10px;
    // h3 {
    //   font-size: 3.0vw;
    //   width: 113%;
    // }
  }
  .button-main {
    font-size: 1.5rem;
  }
}
