$font-regular: 'Work Sans', sans-serif;
$primary1: #4a5159;
$primary2: #d24545;
$primary3: #c5c2c5;
$primary4: #008cb2;
$secondary1: #574942;
$secondary2: #3f9989;
$secondary3: #396370;
$secondary4: #e5e3e3;

.text-link {
  color: $primary3;
  &:hover {
    color: $secondary4;
    text-decoration: none;
  }
}


.navbar-brand {
  padding: 2px 10px !important;
  img {
    max-width: 55px;
  }
}

.nav>li>a {
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-family: $font-regular;
}

.navbar-default {
  background-color: #e7e7e7 !important;
}

.navbar-default .active>a {
  background-color: white !important;
  color: $primary1 !important;
}

.navbar-default .navbar-nav>li>a{
  color: $primary1 !important;
}

.navbar-default .navbar-nav>li {
  &:focus, &:hover {
    background: white;
    text-decoration: none !important;
  }
}

.t_c {
  text-align: center;
  margin-bottom: 20px;
  h5 {
    color: white !important;
  }
  .text-link {
    color: white !important;
    border-bottom: 1px solid white;
  }
}

.navbar-right {
  margin: 20px;
  z-index: 2;
  right: 0;
  margin-right: 0 !important;
}

.nav-pills>li>a {
  color: white;
  font-family: $font-regular;
  font-size: 1.7rem;
  &:hover {
    color: #797a6e;
  }
}

.nav-pills>li {
  padding-right: 40px;
}

.nav-pills>li.active>a {
  color: grey !important;
  background-color: transparent !important;
}

.dark-nav {
  // background-color: rgba(76, 63, 63, 0.31);
  // margin-top: 0;
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  h1 {
    margin-top: 0;
    padding: 80px 0 40px;
    color: $secondary4;
    font-family: $font-regular;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.3rem;
  }
  h4 {
    color: $secondary4;
    letter-spacing: 0.15rem;
    font-weight: 300;
  }
  h3 {
    color: $secondary4;
    border: 2px solid $secondary4;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 0.2rem;
  }
}

.footer-input {
  padding: 30px 0;
}

#explorer-logo img {
  max-width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: white;
  padding-bottom: 5px;
}

.explorer-bottom img {
  max-width: 100px;
  margin: 30px;
}
