$font-regular: 'Work Sans', sans-serif;

.navbar-right {
  margin: 20px;
  padding-right: 30px;
}

.nav-pills>li>a {
  color: white;
  font-family: $font-regular;
  font-size: 1.7rem;
  &:hover {
    color: #797a6e;
  }
}

.nav-pills>li {
  padding-right: 40px;
}

.nav-pills>li.active>a {
  color: grey !important;
  background-color: transparent !important;
}
