// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-regular: 'Work Sans', sans-serif;
$primary1: #4a5159;
$primary2: #d24545;
$primary3: #c5c2c5;
$primary4: #008cb2;
$secondary1: #574942;
$secondary2: #3f9989;
$secondary3: #396370;
$secondary4: #e5e3e3;

.top-section {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407510/MainSection_Background_kiehbd.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.logo {
  img {
    max-width: 600px;
    position: absolute;
    top: 100px;
  }
}

.brackets {
  margin-top: 40px;
  img {
    max-width: 800px;
  }
}

.bracket-text {
  position: absolute;
  top: 15%;
  left: 16%;
  h1 {
    color: white;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    font-family: $font-regular;
    font-weight: 700;
    margin-bottom: 30px;
  }
  h4 {
    color: white;
    font-family: $font-regular;
  }
}

.your-adventure {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407521/Section2_Background_ct7a77.jpg");
  height: 600px;
  background-size: cover;
}

.enter-to-win {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
  h1 {
    font-family: $font-regular;
    font-weight: 700;
    font-size: 5rem;
    margin-top: 0;
    padding: 90px 0px 30px;
    text-align: center;
    color: white;
    letter-spacing: 0.3rem;
  }
}

.signup-form {
  display: block;
  margin: auto;
  width: 50%;
  padding-bottom: 90px;
}

.field input {
  width: 100%;
  height: 4rem;
  font-family: $font-regular;
  padding-left: 10px;
  font-size: 2rem;
}

.actions {
  margin: auto;
  display: block;
  text-align: center;

  input {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: $secondary1;
    color: $secondary4;
    font-family: $font-regular;
    font-size: 2rem;
    border: none;
  }
}

.choose-canada {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.board-text {
  position: absolute;
  margin-top: 200px;
  h1 {
    text-align: center;
    color: $primary2;
    font-family: $font-regular;
    font-weight: 700;
    font-size: 6rem;
  }
  h2 {
    text-align: center;
    color: $secondary4;
    font-family: $font-regular;
    font-weight: 700;
    font-size: 5rem;
  }
}

.green-board {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407526/Entries_Board_nq7d9b.png");
  margin: 40px 2%;
  height: 600px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}

.entries-last-six img {
  width: 100%;
}

.image-block {
  padding: 0 !important;
}


.more-posts {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
}

.more-posts-button {
  text-align: center;
  padding: 70px;
  a {
    background-color: $secondary2;
    color: $secondary4;
    text-transform: uppercase;
    padding: 15px 20px;
    font-family: $font-regular;
    font-size: 2rem;
  }
}

// User show

.your-entry {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 0;
  color: $secondary4;
}

.fa {
  font-size: 3rem !important;
  margin: 10px;
}

.take-the-quiz {
  height: 500px;
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407526/Entries_Board_nq7d9b.png");
  background-repeat: none;
  background-size: cover;
}

.share-the-quiz {

}

.share-section {
  height: 500px;
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407524/Entries_Background_sbutxk.jpg");
  background-repeat: none;
  background-size: cover;
}

.user-story {
  margin-left: 2% !important;
}

.user-show-main-bottom {
  background-image: url("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483407530/EnterToWin_Background_gvafys.jpg");
  background-size: cover;
  background-repeat: none;
  padding-bottom:40px;
}
